language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - python setup.py install
  - pip install coveralls
  - pip install pytest-cov
script:
  - pytest --cov=praatio tests/
after_success:
  - coveralls
